@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

*{
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

body{
	font-family: 'Press Start 2P', sans-serif;
	text-align: center;
	background-image: url('./pages/images/menu-back.jpg');
}

menu{
	list-style: none;
	padding: 0;
}

h1{
	margin: 36px 0; 
	color: #0000ff;
}

li{
	margin: 36px 0; 
}

a{
	color: #0000ff;
	font-size: 24px;
}

a:hover{
	color:#ffffff;
}