* {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

html {
  padding-top: 277px;
  background-image: url(./images/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.game {
  position: relative;
  width: 800px; /* Increased width */
  height: 400px; /* Increased height */
  border: 1px solid black;
  margin: auto;
  overflow: hidden;
  /* background-color: #fff; */
}
#backgroundVideo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensure the video covers the entire game container */
}

#character {
  width: 40px; /* Increased width */
  height: 100px; /* Increased height */
  /* background-color: red; */
  /* background-image: url(./images/mario.png); */
  position: relative;
  top: 300px; /* Adjusted position */
}

.animate {
  animation: jump 0.3s linear;
}

@keyframes jump {
  0% {
    top: 300px; /* Adjusted position */
  }
  30% {
    top: 200px; /* Adjusted position */
  }
  70% {
    top: 200px; /* Adjusted position */
  }
  100% {
    top: 300px; /* Adjusted position */
  }
}

#block {
  background-color: green; /* Change the background color to green */
  width: 40px;
  height: 80px; /* Adjust the height to make it taller */
  position: relative;
  top: 260px;
  left: 800px;
  animation: block 1s infinite linear;
  border-top-left-radius: 20px; /* Adjust the top-left corner radius */
  border-top-right-radius: 20px; /* Adjust the top-right corner radius */
}

#block::before,
#block::after {
  content: "";
  position: absolute;
  background-color: green; /* Match the background color */
  width: 10px;
  height: 10px;
}

#block::before {
  top: -5px;
  left: 5px;
  border-radius: 50%;
}

#block::after {
  top: -5px;
  right: 5px;
  border-radius: 50%;
}

@keyframes block {
  0% {
    left: 800px; /* Adjusted position */
  }
  100% {
    left: -40px; /* Adjusted position */
  }
}

p {
  text-align: center;
  position: absolute;
  top: 220px; /* Adjusted position */
  width: 100%; /* Ensure full width */
  font-size: 40px; /* Increased font size */
  color: black; /* Font color */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Text shadow */
}
button {
  position: absolute;
  margin-top: 20px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px; /* Increased padding */
  font-size: 18px; /* Increased font size */
  background-color: red; /* Red background color */
  color: white; /* White text color */
  cursor: pointer;
  border-radius: 10px;
}
button:hover {
  background-color: darkgray;
}
