html,
body {
  height: 100%;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("./images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  flex-direction: column;
}
#canvas {
  border: 1px solid black;
}
.score {
  font-size: 48px;
  font-family: sans-serif;
  padding-bottom: 5px;
}

article{
  text-align: center;
  background: rgba(0,0,0,0.5);
  padding: 36px 24px;
  color: #ffff00;
  font-size: 20px;
}